<header class="app-header">
  <h1 class="app-title">User Management System</h1>

  <div class="form-group">
    <input 
      class="input-name" 
      placeholder="Enter User Name" 
      [(ngModel)]="user.name" 
    />

    <select 
      class="select-role" 
      id="role" 
      [(ngModel)]="user.Role">
      @for (role of roles; track role) {
        <option [value]="role">{{ role }}</option>
      }
    </select>

    <button 
      class="btn-add" 
      [disabled]="isNameEmpty" 
      (click)="addUser()">
      Add User
    </button>
  </div>

  @if (message) {
    <p class="success-message">{{ message }}</p>
  }
</header>

<section class="user-list">
  <h2 class="list-title">Users List</h2>

  @for (role of roles; track role) {
    <div class="role-section">
      <h3 [ngStyle]="{
              'color': role === 'Admin' ? 'red' : 
                       role === 'User' ? 'blue' : 
                         'gray'
            }" class="role-heading"
            appHoverHighlight="pink">{{ role }}s</h3>

      @if (getUsersByRole(role).length > 0) {
        <ul class="role-users">
          @for (u of getUsersByRole(role); track u.id) {
            <li class="user-item"
            [ngClass]="{
              'admin-bg': u.Role === 'Admin',
              'user-bg' : u.Role === 'User',
              'guest-bg': u.Role === 'Guest'
            }"
            [ngStyle]="{
              'color': u.Role === 'Admin' ? 'red' : 
                       u.Role === 'User' ? 'blue' : 
                         'gray'
            }"    
             appHoverHighlight="lightyellow"
            >
              {{ u.name }}
              <button class="btn-remove" (click)="removeUser(u.id)">Remove</button>
                <div *appIfAdmin="u.Role">
                    <p  strong [style]="adminOnly" >Admin-only controls here</p>
              </div>


            </li>
          }
        </ul>
      } @else {
        <p class="no-data">No data</p>
      }
    </div>
  }
</section>
